
@media(max-width:1280px){

}

@media(max-width:1200px){
    div#pills-one .form-control.date.site-input.banner, div#pills-round .form-control.date.site-input.banner {
        width: 330px!important;
    }

    .select2.select2-container.select2-container--default {
        width: 154px!important;
        font-size: 14px;
    }

    .site-ul.flight-summary-ul::before {
        height: 70%;
        left: 4px;
    }

    .site-ul.flight-summary-ul li:after{
        left: -21px;
    }

    .time-info .time {
        font-size: 16px;
    }

    .baggage-detail::after {
        right: -10px;
    }

    .ticket-endpart {
        margin-left: 5px;
    }

    .time-info {
        max-width: 109px;
    }

    .flight-stop {
        width: 97px!important;
    }

    .side-text-col {
        padding: 40px 40px;
    }

    .plane-img2, .plane-img1 {
        height: 459px;
    }

    .popular-destination {
        padding: 40px 0px 60px 0px;
    }

    .check-vacay {
        padding: 90px 0px 60px 0px;
    }

    .form-control.date_1.datepicker.site-input, .banner-select {
        width: 159px;
        font-size: 13px;
    }

    .input-group.date::before {
        font-size: 16px;
    }

    div#pills-one .form-control.date_1.datepicker.site-input.banner {
        width: 320px!important;
    }

    #pills-multi .form-control.date_1.datepicker.site-input, #pills-multi .banner-select {
        width: 274px;
    }

    .mobile-img {
        width: 67%;
        position: relative;
        top: -37px;
    }


}

@media(max-width:992px){
    .add-flight-div .ul-flex-center li.search-li {
        width: auto!important;
    }

    .add-flight-div {
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    .add-flight-div .ul-flex-center li {
        width: 305px!important;
    }

    .select2.select2-container.select2-container--default {
        width: 100%!important;
    }

    .three-dots::after {
        left: -27px;
    }

    .site-ul.flight-summary-ul::before {
        height: 75%;
        left: -25px;
    }

    .site-ul.flight-summary-ul li:after {
        left: -50px;
    }

    .ticket-info-div.extended .time-info{
        max-width: 109px;
    }

    .ticket-info-div.extended .baggage-detail::after {
        right: -13px;
    }

    .left-col-spacing {
        padding-right: 0px!important;
    }

    .total-flight-cost {
        margin-right: 0;
        margin-left: 12px;
        text-align: left;
    }

    .ticket-div-total {
        /*flex-direction: row-reverse;*/
    }

    .ticket-div-total > .site-btn {
        margin-left: 10px;
    }

    .baggage-detail::after {
        right: -26px;
    }

    /* .ul-flex-center.filter-category-ul, .ticket-div, .ticket-div-total {
        width: 875px;
    } */

    .flight-stop {
        width: 115px!important;
    }

    .time-info {
        max-width: inherit;
    }

    .login-right-content {
        padding: 0px 30px;
    }

    .store-img {
        width: 75%;
    }

    .mobile-img {
        width: 75%;
        position: relative;
        top: inherit;
    }

    .check-vacay {
        padding: 50px 0px 60px 0px;
    }

    .check-vacay,.best-app {
        background-size: cover;
        background-position: center;
    }

    .best-app {
        padding: 50px 0px;
    }

    #pills-multi .form-control.date_1.datepicker.site-input, #pills-multi .banner-select {
        width: 100%!important;
    }

    .nav-pills.main-banner .nav-link {
        padding: 5px 15px;
    }

    .show-on-tablet{
        display: block;
    }

    .hide-on-tablet{
        display: none;
    }

    .form-control.date_1.datepicker.site-input, .banner-select {
        width: 100%;
    }

    div#pills-tabContent .ul-flex-center {
        display: inherit;
    }

    div#pills-tabContent .ul-flex-center li {
        margin-right: 7px;
        width: 48.5%;
        display: inline-block;
        margin-bottom: 10px;
    }

    .outbound-col {
        margin-bottom: 12px;
    }

    .outbound-div {
        margin-top: 10px;
    }

    .outbound-div .banner-select, .outbound-input-div {
        width: 100%;
    }

    .nav-pills.main-banner {
        margin-bottom: 15px;
    }

}

@media(max-width:767px){
    .baggage-detail::after {
        right: -5px;
    }

    .ul-flex-center.filter-category-ul {
        display: block;
    }

    .filter-category-single {
        justify-content: space-between;
        padding: 5px 15px;
    }

    .ul-flex-center.filter-category-ul li{
        flex: none;
        display: inline-block;
        width: 49%;
        border-right: 0;
        border-bottom: 1px solid #a5a5a5;
    }

    div#pills-one .form-control.date.site-input.banner, div#pills-round .form-control.date.site-input.banner {
        width: 100%!important;
    }

    .booking-first-div,.booking-second-div, .booking-last-div{
        margin-bottom: 15px;
    }

    .booking-first-div {
        padding-left: 8%;
    }

    .booking-second-div {
        padding-left: 31%;
    }

    .booking-third-div {
        padding-left: 8%;
    }

    .booking-last-div {
        padding-right: 12%;
    }

    .maain-tabble table {
        padding-right: 15px!important;
    }

    table.table-bordered.dataTable tbody td {
        padding: 25px 35px;
    }

    .logo{
        width: 150px;
    }

    .main-nav-ul {
        justify-content: center;
        margin: 15px 0px 5px 0px;
    }

    /* #sidebarCollapse {
        display: block;
        color: black;
        text-align: right;
        font-size: 24px;
    } */

    /* ul.site-ul.ul-flex-center.main-nav-ul {
        display: none;
    } */

    .flight-overview-single {
        margin-bottom: 13px;
    }

    .flight-overview-ul {
        display: inherit;
        margin: 20px 0px;
    }

    .flight-overview-ul li {
        flex: auto;
        width: 49%;
        display: inline-block;
    }

    .contact-form {
        width: 100%;
    }

    .login-right-content {
        padding: 50px 40px;
    }

    .login-left-col {
        display: none;
    }

    .travel-insurance.about {
        padding: 20px 0px 20px 0px;
    }

    section.alternate-img {
        padding: 0px 0px 0px 0px;
    }

    .plane-img2, .plane-img1 {
        height: 200px;
        background-attachment: fixed;
    }

    .dropdown-menu.notification-dropdown-menu {
        left: -32%!important;
    }

    .notification-content-div .site-text {
        font-size: 16px;
    }

    .notification-div {
        padding: 30px 20px;
    }

    .footer-ul li {
        width: 49%;
        text-align: center;
    }

    .footer-left-img , .footer-center-img{
        margin-bottom: 25px;
    }

    .check-vacay {
        padding: 30px 0px 20px 0px;
    }

    .site-btn {
        padding: 9px 23px;
        font-size: 14px;
    }

    .travel-man {
        margin-top: 35px;
        width: 63%;
    }

    .vacay-card:hover{
        background: none;
    }

    .vacay-img {
        width: 80px;
    }

    .mobile-img {
        width: 50%;
    }

    .vacay-card {
        padding: 0;
        margin: 0px 0px 25px 0px;
    }

    .travel-card {
        margin-bottom: 30px;
    }

    div#pills-tabContent .ul-flex-center li {
        width: 100%;
    }

    .show-on-mobile{
        display: block;
    }

    .hide-on-mobile{
        display: none;
    }

    .right-then-center, .left-then-center{
        text-align: center;
    }

    .center-then-left{
        text-align: left;
    }
}

@media(width:768px){
    .baggage-detail::after {
        right: -5px;
    }

    .ul-flex-center.filter-category-ul {
        display: block;
    }

    .filter-category-single {
        justify-content: space-between;
        padding: 5px 15px;
    }

    .ul-flex-center.filter-category-ul li{
        flex: none;
        display: inline-block;
        width: 49%;
        border-right: 0;
        border-bottom: 1px solid #a5a5a5;
    }

    div#pills-one .form-control.date.site-input.banner, div#pills-round .form-control.date.site-input.banner {
        width: 100%!important;
    }

    .logo{
        width: 150px;
    }
    .main-nav-ul {
        justify-content: center;
        margin: 15px 0px 5px 0px;
    }
    /* #sidebarCollapse {
        display: block;
        color: black;
        text-align: right;
        font-size: 24px;
    }

    ul.site-ul.ul-flex-center.main-nav-ul {
        display: none;
    } */

    .contact-form {
        width: 100%;
    }

    .login-left-col {
        display: none;
    }

    .travel-insurance.about {
        padding: 20px 0px 20px 0px;
    }

    section.alternate-img {
        padding: 0px 0px 0px 0px;
    }

    .plane-img2, .plane-img1 {
        height: 200px;
        background-attachment: fixed;
    }

    .dropdown-menu.notification-dropdown-menu {
        left: -32%!important;
    }

    .footer-ul li {
        width: 49%;
        text-align: center;
    }

    .footer-left-img , .footer-center-img{
        margin-bottom: 25px;
    }

    .show-on-mobile{
        display: block;
    }

    .hide-on-mobile{
        display: none;
    }

    .center-then-left{
        text-align: left;
    }

    .mobile-img {
        width: 50%;
    }

    .travel-card {
        margin-bottom: 30px;
    }

    div#pills-tabContent .ul-flex-center li {
        width: 48%;
    }

    .right-then-center, .left-then-center{
        text-align: center;
    }
}

@media(max-width:575px){
    .flight-stop {
        width: 155px!important;
    }

    .airline-img {
        margin-right: 0px;
    }

    .flight-dest-time {
        width: 160px;
    }

    p.site-text.country {
        display: none;
    }

    section.banner-below {
        top: -122px;
    }

    .add-flight-div .ul-flex-center li {
        width: 100%!important;
        margin-right: 12px!important;
    }

    .card.card-body.manage-booking-body {
        padding: 10px 0px;
    }

    .booking-last-div {
        justify-content: flex-start;
        margin-top: 15px;
    }

    .booking-first-div, .booking-second-div,  .booking-third-div,  .booking-last-div  {
        padding-left: 0;
    }

    .site-ul.fare-detail-ul {
        width: 768px;
    }

    .profile-btn-div .site-btn {
        width: 100%;
    }

    .ticket-div::after, .ticket-div.return::after {
        width: 42px;
    }

    .site-modalheading {
        font-size: 22px;
    }

    .below-input-div + .site-btn {
        margin-top: 7%;
    }

    .login-subheading {
        margin-bottom: 30px;
        font-size: 17px;
    }

    .login-card-heading {
        font-size: 26px;
    }

    .page-heading {
        font-size: 24px;
    }

    .notification-content-div .site-text {
        font-size: 15px;
    }

    .notification-div {
        padding: 30px 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .notification-div > div.d-flex.align-items-center {
        flex-direction: column;
        align-items: flex-start!important;
    }

    .notification-content-div {
        margin: 10px 0px 12px 0px;
    }

    .popular-destination {
        padding: 40px 0px 30px 0px;
    }

    .slider-nav.homepage-slider .slick-arrow {
        top: 50%;
        transform: translateY(-50%);
    }

    .slider-nav.homepage-slider .slick-prev-has {
        right: inherit;
        z-index: 1;
    }

    li.leave-li .banner-select.dropdown-toggle::after {
        right: 10px;
    }

    .nav-pills.main-banner li.nav-item {
        width: 33.33%;
        display: inline-block;
        text-align: center;
    }

    div#pills-tabContent .ul-flex-center li {
        width: 100%;
        margin-right: 0;
    }

    li.leave-li::after{
        display: none;
    }

    .banner-mainheading {
        font-size: 28px;
    }

    .banner-subheading {
        font-size: 19px;
    }

    .main-banner-div h1.banner-mainheading {
        margin-bottom: 6px;
    }

    .main-banner-div {
        padding: 40px 0px 150px 0px;
    }



    .main-nav-ul {
        font-size: 14px;
    }
}

@media(max-width:480px){
    .time-info .time {
        font-size: 14px;
    }

    .dropdown-menu.profile-dropdown-menu {
        width: 141px!important;
        min-width: auto;
    }

    .site-ul.multiway-ul li {
        width: 49%;
    }
}

@media(max-width:420px){
    .left-col-spacing {
        margin-bottom: 20px;
    }

    .flight-overview-ul {
        margin: 15px 0px;
    }

    .header-row {
        padding: 10px 0px 10px 0px;
    }

    .logo {
        width: 100px;
    }

    .airline-img {
        width: 23px;
    }

    .ticket-div {
        width: 400px;
    }

    .three-dots::after {
        left: -10px;
    }

    .site-ul.flight-summary-ul::before {
        left: -7px;
        height: 73%;
    }

    .site-ul.flight-summary-ul li:after {
        left: -32px;
    }

    .site-btn.extra-pd {
        padding: 12px 40px;
    }

    .flight-stop {
        width: 133px!important;
    }

    .ticket-info-div.extended .time-info {
        max-width: 80px;
    }

    .cost-summary-info .site-text {
        padding: 0px 8px;
    }

    .total-row .site-text {
        font-size: 14px;
    }

    .form-heading-text {
        font-size: 17px;
    }

    .form-separator-div {
        padding: 25px 0px;
    }

    li.pagination-li a {
        padding: 8px 13px;
        font-size: 12px;
    }
    li.pagination-li:first-child a, li.pagination-li:last-child a {
        width: 79px;
    }
    .stopover-text.ticket-checkbox {
        width: 1px;
    }

    .result-side-col {
        padding: 8px 10px;
    }

    .ul-flex-center.filter-category-ul {
        padding: 7px;
    }

    .result-side-col .site-accordion .btn-link {
        padding: 10px;
    }

    .flight-overview-single .drop-icon, .total-flight-cost .price {
        font-size: 19px;
    }

    .site-modalheading {
        font-size: 20px;
    }

    .inner-pages-pd {
        padding: 20px 0px;
    }

    .register-form {
        margin: 20px 0px 0px 0px;
    }

    .page-subheading {
        font-size: 14px;
    }

    .page-heading {
        font-size: 20px;
    }

    .site-accordion .card-body {
        padding: 25px 20px;
    }

    .accordion-heading {
        font-size: 16px;
    }

    .accordion-arrow {
        font-size: 18px;
    }

    .site-accordion .btn-link{
        padding: 15px;
    }

    .login-subheading {
        font-size: 15px;
    }

    .site-label {
        font-size: 14px;
    }

    .forgot-link {
        font-size: 12px;
    }

    .site-modal .modal-content {
        padding: 30px 20px;
    }

    label.bordered {
        font-size: 14px;
    }

    .below-input-div .forgot-link {
        margin-top: 8px;
        font-size: 14px;
    }

    .below-input-div {
        flex-direction: column;
    }

    .login-right-content {
        padding: 30px 20px;
    }

    .footer-left-img {
        width: 240px;
    }

    .about-heading {
        font-size: 22px;
    }

    .side-text-col {
        padding: 40px 20px;
    }

    .travel-man {
        width: 80%;
    }

    .main-nav-link i {
        font-size: 17px;
    }

    .nav-dp {
        height: 30px;
        width: 30px;
    }

    .notification-div {
        padding: 20px;
    }

    .site-ul.notification-ul {
        margin: 20px 0px 0px 0px;
    }

    .inner-page-header .main-nav-ul li {
        margin-left: 10px;
    }

    .site-footer {
        padding: 40px 0px 30px 0px;
    }

    .copyright-div p {
        font-size: 14px;
    }

    .main-banner-div h1.banner-mainheading {
        font-size: 23px;
    }

    .travelcard-subheading {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .store-img {
        width: 85%;
    }

    .travel-arrow-div {
        margin-top: 8px;
    }

    .travel-arrow {
        height: 30px;
        width: 30px;
        line-height: 30px;
    }

    .vacay-img {
        width: 70px;
    }

    .nav-pills.main-banner .nav-link {
        padding: 5px 4px;
        font-size: 13px;
    }

    .travel-card-content {
        padding: 20px 15px;
    }

    .travelcard-heading {
        font-size: 15px;
    }

    .site-text {
        font-size: 13px;
    }

    .stopover-text {
        font-size: 14px;
    }

    .banner-mainheading {
        font-size: 25px;
    }

    .banner-subheading {
        font-size: 17px;
    }
}

@media(max-width:380px){
    .main-nav-ul {
        font-size: 13px;
    }

    .login-popup.login {
        right: -30px;
    }

    .login-popup.login:after{
        right: 44px;
    }
    .main-nav-ul li {
        margin-left: 0px;
    }

    .main-nav-ul {
        justify-content: space-around;
    }
}
