@font-face {
    font-family: "popLight";
    src: url('./../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: "popMed";
    src: url('./../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: "popReg";
    src: url('./../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: "popsb";
    src: url('./../fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: "popBold";
    src: url('./../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: "popEb";
    src: url('./../fonts/Poppins-Bold.ttf');
}

.popLight{
    font-family: "popLight"!important;
}

.popMed{
    font-family: "popMed"!important;
}

.popReg{
    font-family: "popReg"!important;
}

.popEb{
    font-family: "popEb"!important;
}

.popsb{
    font-family: "popsb"!important;
}

.popBold{
    font-family: "popBold"!important;
}

body{
    font-family: "popReg"!important;
    overflow-x: hidden;
}

a{
    color:white;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s ease-in-out!important;
}

a:hover{
    color:white;
    text-decoration: none;
    transition: 0.4s ease-in-out!important;
}


button{
    cursor: pointer;
    transition: 0.4s ease-in-out!important;
}

input:focus, select:focus, textarea:focus, button:focus{
    outline:0!important;
}

p{
    margin-bottom: 0;
    color:#666666;
}

h1,h2,h3,h4,h5{
    margin-bottom: 0;
}

.show-on-mobile{
    display: none!important;
}

.hide-on-mobile{
    display:block!important;
}

.show-on-tablet{
    display:none!important;
}

.hide-on-tablet{
    display:block!important;
}

.right-then-center{
    text-align: right;
}

.left-then-center{
    text-align: left;
}

.center-then-left{
    text-align: center;
}

.site-ul{
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}

.ul-flex-center{
    display:flex;
    align-items: center;
}

.white-text{
    color:white!important;
}

.dark-blue-text{
    color:#000043!important;
}

.black-text{
    color:black!important;
}

.blue-text{
	color: #0519b5!important;
}

.red-text{
	color:red!important;
}

.stroke-red {
    background-image: linear-gradient(red,red);
    background-position: 0 82%;
    background-size: 100% 5px;
    background-repeat: no-repeat;
}

.stroke-blue{
    background-image:linear-gradient(blue,blue);
    background-position: 0 82%;
    background-size:100% 5px;
    background-repeat:no-repeat;
}


#sidebarCollapse {
    display: none;
}

/* -------- MOBILE SIDEBAR CSS START --------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -255px;
    height: 100vh;
    z-index: 999;
    background: white;
    color: black;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 25px;
    height: 25px;
    color: white;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    border-radius: 50px;
    background: blue;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
    text-align: center;
}

#sidebar ul.components {
    padding: 0px 0px 20px 0;
    border-bottom: 1px solid #bbbbbb;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    color: black;
    padding: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

/* #sidebar ul li a:hover {
    background: #fff;
} */

#sidebar ul li.active>a{
    color: #fff;
    background: blue;
}

ul ul a.active{
    color: #fff!important;
    background: blue;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar-btn-div {
    padding: 10px 30px 20px 30px;
}

.sidebar-btn-div .popup-btn {
    text-align: center;
    font-size: 14px;
    display: block;
    padding: 8px;
    border-radius: 0px;
}

.sidebar-btn-div .popup-btn.red {
    background: red;
}

.sidebar-btn-div .popup-btn.blue {
    background: blue;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 25px !important;
    background: #e3e3e3;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.mobile-sidebar-logo {
    width: 120px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    width:100%;
}

/* -------------- MOBILE SIDEBAR CSS END -------------- */

/* -------------- BANNER SECTION CSS START -------------- */

.pkg-radio:checked, .pkg-radio:not(:checked) {
    position: absolute;
    left: -9999px;
}

.pkg-radio:checked + label, .pkg-radio:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    margin-bottom: 0;
}

.pkg-radio:checked + label:before, .pkg-radio:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #ececec;
}

.pkg-radio:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pkg-radio:checked + label:after, .pkg-radio:not(:checked) + label:after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background: #3787c8;
    top: 50%;
    transform: translateY(-50%)!important;
    left: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.homepage {
    background: url('./../img/banner-bg.png');
    background-size: cover;
    background-position: center;
}

.main-nav-ul {
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 15px;
}

.header-row {
    align-items: center;
    border-bottom: 1px solid white;
    padding: 17px 0px 18px 0px;
}

.main-nav-ul li {
    margin-left: 20px;
}

.main-banner-div {
    padding: 20px 0px 219px 0px;
}

.banner-mainheading {
    font-family: popEb;
    color: white;
}

.banner-subheading {
    color: white;
}

.banner-search-div {
    margin: 17px 0px 0px 0px;
    background: #392231;
    padding: 15px 30px 15px 30px;
}

.nav-pills.main-banner {
    justify-content: flex-end;
    font-size: 14px;
    margin-bottom: 10px;
}

.nav-pills.main-banner .nav-link.active, .nav-pills.main-banner .show>.nav-link {
    color: #fff;
    background-color: red;
}

.nav-pills.main-banner .nav-link {
    border-radius: 0;
    padding: 8px 20px;
}

div#pills-tabContent .form-control.datepicker.site-input, div#pills-tabContent .form-control.date.site-input {
    padding: 0px 20px 0px 37px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
    cursor: pointer;
}

.form-control.datepicker.site-input:focus {
    outline: 0;
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group.date::before {
    content: "\f073";
    font-family: "fontAwesome";
    position: absolute;
    z-index: 7;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    font-size: 19px;
    color: blue;
}

.banner-search-icon {
    height: 40px;
    width: 40px;
    background: red;
    line-height: 40px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.datepicker-dropdown {
    z-index: 999!important;
}

div#pills-tabContent .ul-flex-center li {
    margin-right: 7px;
}

.plus-minus-div {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

div.decrease {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.value-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    margin: 0px;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 7px 0;
    background: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.number-input {
    text-align: center;
    border: 1px solid #ddd!important;
    margin: 0px;
    width: 43px;
    border-radius: 0!important;
    color: #666666!important;
    padding: 0!important;
    font-size: 15px!important;
    height: 32px;
    position: relative;
    box-shadow: none;
    appearance: none;
}

div.increase {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.banner-select.dropdown-toggle::after {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 12px;
    transform: translateY(-50%);
    content: "\f078";
    font-family: fontAwesome;
    border: 0;
    display: inline-block;
    height: auto;
    width: auto;
    color: #666666;
}

.banner-select {
    background: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0px 15px;
    cursor: pointer;
}

div#pills-tabContent .form-control.date_1.datepicker.site-input, .banner-select, .form-control.date.site-input {
    height: 40px;
    width: 192px;
    color: #666666;
}

.form-control.date.site-input:focus{
    outline:0;
    box-shadow: none!important;
}

.drop-icon {
    color: blue;
    margin-right: 9px;
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-right: 28px;
    text-align: right;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: white;
    margin-bottom: 0;
    width: 100%;
}

[type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border:1px solid #ccc;
    background: white;
}

/* [type="checkbox"]:checked + label.name:before, [type="checkbox"]:not(:checked) + label.name:before{
    left: inherit!important;
    right: 0!important;
} */

label.bordered.name {
    text-align: left;
    padding: 0px 0px 0px 28px;
}

.site-text.name {
    margin: 10px 0px 0px 0px;
    white-space: nowrap;
}

[type="checkbox"]:checked + label.name:after, [type="checkbox"]:not(:checked) + label.name:after{
    right: 5px;
}

[type="checkbox"]:checked + label:before {
    background: blue;
}

[type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after {
    content: '\2714';
    color: white;
    position: absolute;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%)!important;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.outbound-div {
    margin-top: 3px;
}

.stopover-text {
    display: inline-block;
    margin-top: 9px;
    font-size: 15px;
    padding: 3px 5px;
    cursor: pointer;
    color: white!important;
    transition: 0.4s ease-in-out;
}

.stopover-text.selected {
    background: red;
    transition: 0.4s ease-in-out;
}

.stopover-label {
    color: white;
    font-size: 15px;
}

.outbound-div .banner-select {
    width: 240px;
}

.form-field {
    position: relative;
    margin-bottom: 17px;
}

.day-night-select {
    background: white;
    font-size: 14px;
    position: relative;
    padding: 7px 25px;
    -webkit-appearance: none;
    height: 40px;
    margin-left: 8px;
    color: #666666;
}

.day-night-select + .drop-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    color: #666666;
    font-size: 13px;
}

.drop-arrow-up {
    position: absolute;
    left: 14px;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #666666;
    font-size: 13px;
}

.person-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px;
    position: relative;
    font-size: 14px;
}

.person-category .plus-minus-div {
    margin-left: 6px;
}

.value-button i {
    font-size: 12px;
    color: #666666;
}

.economy-dropdown {
    -webkit-appearance: none;
    padding: 8px 10px;
    width: 100%;
    border: 1px solid #ccc;
    color: #666666;
}

.person-category .drop-arrow {
    position: absolute;
    right: 10px;
    color: #666666;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-menu {
    padding: 0;
}

.droplist-maintext {
    font-weight: 600;
    font-size: 14px;
}

.droplist-subtext {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu.leaving-dropdown {
    max-width: 202px;
    border: 0;
}

.dropdown-menu.leaving-dropdown .dropdown-item {
    padding: 8px 10px;
    border-bottom: 1px solid #ccc;
}


.dropdown-menu.leaving-dropdown .dropdown-item:first-child{
    border-top-right-radius:4px;
    border-top-left-radius:4px;
}

.dropdown-menu.leaving-dropdown .dropdown-item:last-child{
    border-bottom: 0;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
}

.dropdown-menu.leaving-dropdown .dropdown-item.active{
    background-color: white!important;
}

.dropdown-menu.leaving-dropdown .dropdown-item.active .droplist-subtext{
    color:white;
}

.dropdown-menu.leaving-dropdown{
    top:7px!important;
}

.dropdown-menu.leaving-dropdown:after {
    content: "\A";
    border-style: solid;
    border-width: 11px 12px 11px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    top: -5px;
    right: 50%;
    transform: rotate(90deg) translateX(-50%);
}

li.leave-li{
    position: relative;
}


li.leave-li .banner-select.dropdown-toggle::after{
    right: 15px;
}

/*li.leave-li::after {*/
/*    content: "";*/
/*    width: 21px;*/
/*    height: 21px;*/
/*    background: url(./../img/leave-icon.png);*/
/*    top: 9px;*/
/*    right: -13px;*/
/*    z-index: 1;*/
/*    position: absolute;*/
/*    display: inline-block;*/
/*}*/

span#switcher {
    width: 21px;
    height: 21px;
    background: url(./../img/leave-icon.png);
    top: 9px;
    right: -13px;
    z-index: 1;
    position: absolute;
    display: inline-block;
}

div#pills-one .form-control.date_1.site-input.banner, div#pills-round .form-control.date.site-input.banner {
    width: 390px!important;
}

.banner-delete-icon {
    background: #83687e;
    color: white;
    height: 30px;
    width: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    cursor: pointer;
}

.banner-delete-icon:hover {
    color:red;
    background: white;
}

#pills-multi .form-control.date.site-input, #pills-multi .banner-select, #pills-multi .form-control.date_1.datepicker.site-input{
    width: 335px!important;
}

.stopover-text i {
    margin-right: 3px;
    padding: 3px;
    color: #fafafa;
    font-size: 14px;
    border-radius: 3px;
}

.multi-row {
    margin-bottom: 12px;
}

/* -------------- BANNER SECTION CSS END -------------- */

/* -------------- HOMEPAGE CSS START -------------- */

.travel-card {
    box-shadow: 0px 6px 18px 0px #acacac;
}

.travel-city {
    height: 193px;
    width: 100%;
    object-fit: cover;
}

.travelcard-heading {
    font-family: popbold;
    font-size: 17px;
    margin-bottom: 6px;
}

section.banner-below {
    position: relative;
    top: -193px;
}

.site-text {
    font-size: 14px;
}

.travel-arrow-div {
    margin-top: 18px;
}

.travel-arrow {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    border-radius: 100%;
    cursor: pointer;
}

.travel-arrow.red {
    background: red;
}

.travel-arrow.blue {
    background: blue;
}

.travel-card-content {
    padding: 30px 25px;
}

section.travel-insurance {
    padding: 0px 0px 40px 0px;
}

.site-btn {
    text-transform: capitalize;
    padding: 12px 30px;
    font-size: 15px;
    display: inline-block;
    color: white!important;
    border: 0;
}

.site-btn.sm-btn {
    padding: 8px 20px;
    font-size: 14px;
}

.site-btn.blue {
    background: blue;
}

.site-btn.blue:hover {
    background: rgb(0, 0, 160)!important;
}


.site-btn.red {
    background: red;
}

.site-btn.red:hover {
    background: rgb(184, 0, 0)!important;
}

.check-vacay {
    background: url(./../img/blue-bg.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 90px 0px 140px 0px;
}

.best-app {
    background: url(./../img/red-bg.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

.vacay-card {
    margin: 20px 0px 0px 0px;
    padding: 15px;
    cursor: pointer;
}

.vacay-card:hover {
    background: #3333ff;
}

.vacay-img {
    margin-bottom: 15px;
}

.vacay-card .site-text {
    color: white;
}

.store-img {
    margin: 30px 0px 0px 0px;
    width: 65%;
}

.mobile-img {
    width: 84%;
    position: relative;
    top: -61px;
}

.slider-nav.homepage-slider .slick-arrow {
    position: absolute;
    right: 0;
    top: -60px;
    cursor: pointer;
}

.slider-nav.homepage-slider .slick-prev-has {
    right: 34px;
}

.slick-prev-has i.fa, .slick-next-has i.fa {
    font-size: 16px;
    background: #e7e7e7;
    color: #000000;
    height: 35px;
    line-height: 35px;
    width: 25px;
    text-align: center;
    border-radius: 2px;
}

.slider-nav.homepage-slider .travel-card {
    margin: 20px;
    box-shadow: 0px 6px 11px 0px #dfdfdf;
}

.popular-destination {
    padding: 10px 0px 60px 0px;
}

.slider-nav.homepage-slider {
    margin: 20px 0px 0px 0px;
}
/* -------------- HOMEPAGE CSS END -------------- */

.inner-page-header .main-nav-ul .main-nav-link {
    color: #000000!important;
}

.inner-page-header .main-nav-ul li {
    margin-left: 20px;
}

.inner-page-header .header-row {
    border-bottom: 1px solid #dbdbdb;
}

.inner-pages-pd {
    padding: 40px 0px;
}

.page-heading {
    text-transform: uppercase;
    font-family: popMed;
}

.site-ul.notification-ul {
    margin: 10px 0px 0px 0px;
}

.outbound-row{
    /* background: black; */
    width: 100%;
    padding: 0px 10px;
}

.outbound-row .site-text.space-nowrap.black-text.popsb {
    position: relative;
    top: 2px;
}

/* .outbound-row .site-text , .outbound-row i {
    color: white!important;
} */

.notification-div {
    position: relative;
    background: white;
    box-shadow: 1px 1px 12px 0px lightgrey;
    border-radius: 4px;
    padding: 35px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cross-notifcation {
    position: absolute;
    top: -7px;
    right: -2px;
    font-size: 21px;
    cursor: pointer;
}


.notification-bell {
    background: blue;
    color: white;
    height: 40px;
    min-width: 40px;
    font-size: 20px;
    line-height: 40px;
    border-radius: 100%;
    text-align: center;
}

.notification-content-div {
    margin: 0px 10px 0px 20px;
}

.notification-time, .notification-date {
    color: #2e5eb6;
    font-size: 13px;
}

.notification-date {
    margin-top: 3px;
}

.notification-content-div .site-text {
    font-size: 17px;
}

.site-ul.notification-ul li {
    margin-bottom: 20px;
}

.notification-time {
    white-space: nowrap;
}

.profile-dropdown-link {
    display: inline-block;
    color: black!important;
    font-size: 13px;
    text-transform: capitalize;
}

.main-nav-link i {
    font-size: 19px;
}

.nav-dp {
    border-radius: 100%;
    height: 41px;
    width: 41px;
    margin-right: 4px;
}

.dropdown-menu.profile-dropdown-menu {
    top: 10px!important;
    /* overflow: hidden; */
    box-shadow: 1px 1px 11px #b4b4b4;
}

.dropdown-menu.profile-dropdown-menu .dropdown-item i {
    margin-right: 10px;
}

.dropdown-menu.profile-dropdown-menu .dropdown-item {
    padding: 7px 15px;
    font-size: 15px;
    text-transform: capitalize;
    color: #474747;
}

.dropdown-menu.profile-dropdown-menu .dropdown-item:hover {
    color: blue;
    background-color: #e1e1e1;
}

.view-more {
    border-top: 1px solid #ccc;
    padding: 7px 0px;
    font-size: 13px;
    color: red;
    text-transform: capitalize;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.view-more:hover {
    background: blue;
    color: white;
}

.notification-menu-div {
    display: flex;
    align-items: center;
}

.notification-menu-div {
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 10px;
    font-size: 12px;
    text-transform: initial;
    border-bottom: 1px solid #ccc;
}

.notification-menu-content .notification {
    color: black;
    font-weight: 600;
}

.notification-menu-div i {
    color: #666666;
    font-size: 14px;
}

.menu-info {
    margin-top: 4px;
    color: #41a5fa;
}

.notification-menu-content {
    margin-left: 12px;
}

.dropdown-menu.notification-dropdown-menu {
    left: -20%!important;
    top: 20px!important;
}

.dropdown-menu.notification-dropdown-menu:after {
    content: "\A";
    border-style: solid;
    border-width: 11px 12px 11px 0;
    border-color: transparent black transparent transparent;
    position: absolute;
    top: -11px;
    right: 50%;
    transform: rotate(90deg) translateX(-50%);
}

.dropdown-menu.profile-dropdown-menu:after {
    content: "\A";
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent black transparent transparent;
    position: absolute;
    top: -8px;
    left: 16px;
    transform: rotate(90deg) translateX(-50%);
}

.site-text.faq {
    font-weight: 600;
    color: black;
    margin: 20px 0px 0px 0px;
}

.travel-insurance.about {
    padding: 40px 0px;
}

.about-ul li {
    position: relative;
    padding-left: 21px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666666;
}

.about-ul li:after {
    display: block;
    content: "";
    width: 12px;
    position: absolute;
    height: 12px;
    background: transparent url(../img/tick.png) no-repeat;
    left: 0;
    top: 6px;
}

.site-ul.about-ul {
    columns: 2;
    margin-top: 20px;
}

section.best-app.about {
    background-size: cover;
}

section.alternate-img {
    padding: 0px 0px 100px 0px;
}

.plane-img1 {
    background: url(./../img/plane-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 512px;
}

.plane-img2 {
    background: url(./../img/plane-img2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 512px;
}

.side-text-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 70px;
}

.about-heading {
    text-transform: capitalize;
    font-family: popbold;
    color: #3c3950;
}

.img-404 {
    width: 50%;
    margin-top: 4%;
}

.page-not-found {
    position: relative;
    color: #404040;
    font-weight: 600;
    text-transform: uppercase;
    margin: 40px 0px;
}

.page-not-found:after {
    content: "";
    position: absolute;
    background: red;
    height: 4px;
    width: 73px;
    left: 0;
    bottom: -15px;
    right: 0;
    margin: 0 auto;
}

.container-404 {
    margin: 10% 0%;
}

.login-card {
    border-radius: 10px;
    overflow: hidden;
    background: white;
    margin: 10px 0px 35px 0px;
}

.login-left-col {
    height: 635px;
    background: url(./../img/login-side-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.login-right-col {
    display: flex;
    width: 100%;
}

.login-right-content {
    align-self: center;
    width: 100%;
    padding: 0px 70px;
    margin: 0 auto;
}

.login-card-heading {
    color:black;
    font-family: popmed;
    text-align: center;
}

.login-subheading {
    color: black;
    margin-bottom: 50px;
    text-align: center;
}

.login-form-field {
    position: relative;
    margin-bottom: 22px;
}

.site-label {
    display: block;
    margin-bottom: 4px;
    font-size: 15px;
    text-transform: capitalize;
}

.site-input, select.site-input {
    width: 100%!important;
    background: white;
    border: 1px solid #cccccc;
    padding: 10px 15px 10px 15px;
    color: #3f3f3f !important;
    background: #fff !important;
    border: 1px solid #d9d9d9 !important;
    font-size: 14px !important;
    resize: none;
    border-radius: 0!important;
    -webkit-appearance: none;
}

.site-input.icon {
    padding: 10px 35px 10px 15px;
}

.forgot-link {
    color: blue!important;
    text-decoration: underline!important;
    display: inline-block;
}

.below-input-div {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}

.d-flex-center{
    display: flex;
    align-items: center;
}

.d-flex-center.between{
    justify-content: space-between;
}

section.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    background: url(./../img/login-bg.png);
    background-position: center;
    background-size: cover;
}

.input-right-icon {
    position: absolute;
    color: #4b4b4b;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    cursor: pointer;
}

[type="checkbox"]:checked + label.bordered:before, [type="checkbox"]:not(:checked) + label.bordered:before {
    border: 1px solid #cecece;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cfcfcf!important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cfcfcf!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #cfcfcf!important;
}

label.bordered {
    color: black!important;
    font-size: 15px;
}

.remember-text, .forgot-link{
    font-size: 15px;
}

.site-btn i {
    font-size: 14px;
    margin-left: 10px;
}

.below-input-div + .site-btn {
    margin-top: 12%;
}

button.close {
    position: absolute;
    right: 10px;
    top: 6px;
}

.site-modal .modal-content {
    padding: 40px;
}

.site-modalheading {
    font-family: popbold;
    text-align: center;
    margin-bottom: 12%;
    margin-top: 4%;
}

.back-login {
    color: blue!important;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    display: inline-block;
    border-bottom: 1px solid blue;
}

.back-login i{
    margin-right: 10px;
}

body.modal-open {
    padding-right: 0!important;
}

.site-accordion {
    width: 100%;
    max-width: 100%;
}

.site-accordion .card-header {
    background: transparent;
    padding: 0px;
    border-bottom: 0px;
}

.site-accordion .card {
    border: 0;
    border-radius: 10px;
}

.accordion-heading {
    color: white;
    font-family: popmed;
}

.site-accordion .card-body {
    background: white;
    border-radius: 6px;
    border: 0;
    /* box-shadow: 0px 4px 9px #d7d7d7; */
    padding: 20px;
}

.site-accordion .btn-link {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding: 15px 20px 15px 20px;
    justify-content: space-between;
    border: 0;
    border-radius: 7px;
    text-decoration: none;
    background: #000000;
}

.accordion-arrow {
    color: white;
    font-size: 22px;
    transition: 0.4s ease-in-out;
}

.btn-link.collapsed .accordion-arrow {
    transition: 0.4s ease-in-out;
    transform: rotate(180deg);
}

.required {
    color: red;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

.register-form {
    margin: 40px 0px 0px 0px;
}

.input-group.date.form::before {
    right: 13px;
    left: inherit;
    color: black;
}

.site-btn.extra-pd {
    padding: 12px 60px;
}

.modal-check-icon {
    color: red;
    font-size: 45px;
}

.modal {
    padding-right: 0!important;
}

.flight-overview-ul {
    margin: 30px 0px;
}

.flight-overview-ul li {
    flex: 1;
    text-align: center;
}

.flight-overview-single {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plane-side-text {
    text-align: left;
}

.flight-overview-single .drop-icon {
    font-size: 22px;
}

.blue-bg-section {
    padding: 30px 0px;
    background: #007eff;
}

.result-side-col {
    background: white;
    padding: 20px 10px;
}

.filter {
    color: red;
    font-size: 22px;
    margin-right: 10px;
}

.irs--flat .irs-line, .irs--flat .irs-bar {
    height: 4px;
}

.irs--flat .irs-bar {
    background-color: blue;
}

.irs--flat .irs-handle>i:first-child {
    background-color: #cccccc;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    background-color: blue;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
    border-top-color: blue;
}

.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child{
    background-color: #cccccc;
}

.irs--flat .irs-handle {
    width: 17px;
    height: 17px;
    top: 19px;
    border-radius: 100%;
    background: #cccccc;
    border: 1px solid #8f8f8f;
}

.result-side-col .site-accordion .btn-link {
    padding: 15px 10px;
    background: white;
}

.result-side-col .accordion-heading {
    color: #666666;
    font-size: 14px;
    font-family: popreg;
    text-align: left;
}

.result-side-col .accordion-arrow {
    color: #666666;
    font-size: 15px;
}

.result-side-col .site-accordion .card-body {
    box-shadow: none;
    padding: 10px;
}

.result-side-col  .site-accordion .card {
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
}

.result-side-col  .site-accordion .card:last-child {
    border-bottom: 0;
}

.ul-flex-center.filter-category-ul {
    background: white;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.filter-category-single {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
}

.ul-flex-center.filter-category-ul li {
    flex: 1;
    border-right: 1px solid #a5a5a5;
}

.ul-flex-center.filter-category-ul li:last-child {
    border-right: 0;
}

.ticket-div {
    align-items: center;
    background: white;
    position: relative;
    margin-bottom: 3px;
}

.ticket-div::after {
    display: block;
    content: "";
    width: 37px;
    position: absolute;
    height: 100%;
    background: #e5e5e5 url(../img/plane-takeoff.png) no-repeat;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-right: 1px solid #999999;
}

.ticket-div.return::after {
    display: block;
    content: "";
    width: 37px;
    position: absolute;
    height: 100%;
    background: #e5e5e5 url(../img/plane-land.png) no-repeat;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-right: 1px solid #999999;
}

.ticket-info-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    background: white;
    padding: 15px 15px 15px 55px;
    border-bottom: 1px solid #ccc;
}

.flight-stop {
    text-align: center;
    width: 98px!important;
}

.flight-dest-time , .baggage-detail, .ticket-endpart {
    display: flex;
    align-items: center;
}

.ticket-plane {
    background: #dfdfdf;
    position: absolute;
    height: 100%;
    display: flex;
    color: #808080;
    align-items: center;
    padding: 0px 8px;
    border-right: 1px solid #bebebe;
}

/* .ticket-div .ticket-info-div::after {
    content: "";
    background: #ccc;
    bottom: 0;
    width: 82%;
    right: 0;
    height: 1px;
    display: block;
    position: absolute;
} */

.ticket-div .ticket-info-div:last-child::after {
    display: none;
}

.airline-img {
    margin-right: 9px;
    width: 30px;
}

.stopover-text.ticket-checkbox {
    position: relative;
    left: 16px;
    margin-top: 0;
}

.ticket-info-div .site-text {
    font-size: 13px;
}

.baggage-info {
    text-align: right;
    margin-left: 12px;
}

.ticket-endpart i {
    margin-left: 13px;
    color: black;
}

.baggage-detail {
    position: relative;
}

.baggage-detail::after {
    content: "";
    background: #979797;
    height: 110%;
    width: 2px;
    display: block;
    position: absolute;
    top: 50%;
    right: -48px;
    transform: translateY(-50%);
}

.time-info .time {
    font-size: 18px;
    font-family: popmed;
}

.ticket-div-total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ticket-div-total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: white;
    padding: 10px 15px;
}

.total-flight-cost {
    margin-right: 12px;
    text-align: right;
}

.total-flight-cost .price {
    color: red;
    font-size: 21px;
    font-family: popmed;
}

.left-col-spacing {
    margin-bottom: 30px;
    padding-right: 20px!important;
}

.overflow-div {
    overflow: hidden;
    overflow-x: auto;
}

.pagination-div {
    margin: 30px 0px 0px 0px;
}

.site-ul.pagination-ul {
    display: flex;
    align-items: center;
}

li.pagination-li {
    background: white;
    border-left: 1px solid #dcdcdc;
    text-align: center;
    overflow: hidden;
}

li.pagination-li a {
    color: #707070;
    padding: 10px 18px;
    font-size: 14px;
    display: inline-block;
}

li.pagination-li a:hover {
    background: #ccc;
}

li.pagination-li a.active {
    background: red;
    color: white;
}

li.pagination-li:first-child a, li.pagination-li:last-child a {
    color: #1186fe;
    font-weight: 600;
    width: 96px;
}

.fullwidth-ticket .baggage-detail::after {
    right: -50px;
}

.fullwidth-ticket .stopover-text.ticket-checkbox {
    width: 0px;
}

.white-bg.accordion-details {
    padding: 50px 0px;
}

.form-heading-text {
    font-family: popmed;
    margin-bottom: 4px;
}

.form-separator-div {
    padding: 20px;
    border-bottom: 6px solid #dbdbdb;
}

.card-body .form-separator-div:last-child {
    border-bottom: 0px;
}


.white-bg.accordion-details .site-accordion .card {
    margin-bottom: 40px;
}

.cost-summary-info {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px 0px 30px 0px;
    margin: 0px 0px 30px 0px;
}

.cost-summary-info > .row.ml-0.mr-0 {
    padding: 6px 0px;
}

.total-row {
    background: #deeeff;
}

.total-row .site-text {
    font-size: 15px;
    font-family: popmed;
    padding: 10px;
}

.site-text.black-text.pnr {
    margin: 25px 0px;
}

.overflow-div.shadow {
    box-shadow: 1px 1px 14px 0px #d3d3d3;
}

.details-text {
    font-weight: 600;
}

.profile-dropdown-menu.sort .dropdown-item.active,.profile-dropdown-menu.sort .dropdown-item:active{
    background-color: red;
    color: white!important;
}

.sort-text.right-then-center {
    margin-bottom: 9px;
}

a#sortdropdown {
    color: black!important;
    font-size: 16px;
}

.site-input:disabled, .site-input[readonly]  {
    background: #dbdbdb!important;
}

#sidebarCollapse {
    display: none;
}

.mobile-submenu-link i {
    margin-right: 8px;
}

.mobile-main-li > a > i {
    margin-right: 8px;
}

.mobile-drop-arrow {
    margin-right: 0px;
    margin-left: 6px;
}

#sidebar .notification-menu-content {
    margin-left: 0px;
    background: #e3e3e3;
}

#sidebar ul p.notification {
    color: black!important;
    font-size: 14px;
}

#sidebar ul p.menu-info{
    font-size: 13px;
    color: #41a5fa;
    margin-top: 0px;
    padding: 5px 10px;
}

.light-blue-bg-section{
    background: url('./../img/light-blue-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0px;
}

.extra-text.white-text i {
    color: white;
}

.extra-text.white-text {
    padding-bottom: 18px;
    position: absolute;
}

.site-ul.multiway-ul {
    padding: 0px 0px 0px 0px;
}

.site-ul.multiway-ul li {
    display: inline-block;
    width: 32%;
    margin-bottom: 11px;
}

.site-ul.ul-flex-center.multi-overview-ul {
    justify-content: space-around;
}

.icon.phone.site-input {
    padding: 10px 25px 10px 10px;
}

.black-link {
    color: black!important;
}

.card-body.passenger {
    padding: 15px 0px;
    background: #f3f3f3;
    border-radius: 0px;
}

.progressbar {
    counter-reset: step;
    margin: 20px 0px;
    padding: 0;
}

.progressbar li {
    list-style: none;
    display: inline-block;
    width: 30.33%;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 3px solid white;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 5px auto;
    background-color: #0d0d0d;
    text-indent: -9999999px;
}

.progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
    top: 23px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: green;
}

.progressbar li.active:before{
    background: blue;
}

.progressbar li i {
    width: 45px;
    height: 20px;
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
}

.upper-div {
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
}

.upper-div .site-text {
    font-size: 13px;
}

.card-body.side-collapse-pd {
    padding: 15px 0px!important;
}

.sm-text{
    font-size: 13px;
}

.flight-flag {
    padding: 30px 0px;
}

.summary-div {
    padding: 20px 12px 20px 12px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
}

.site-ul.flight-summary-ul {
    padding-left: 19px;
    position: relative;
}

.site-ul.flight-summary-ul li {
    padding-bottom: 20px;
    position: relative;
}

.site-ul.flight-summary-ul li:last-child {
    padding-bottom: 0px;
}

.site-ul.flight-summary-ul::before {
    content: "";
    display: block;
    position: absolute;
    height: 72%;
    width: 3px;
    background: #ccc;
    left: 0;
}

.site-ul.flight-summary-ul.booking::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 3px;
    background: #ccc;
    left: 0;
}


.site-ul.flight-summary-ul li:after {
    display: block;
    content: "";
    width: 16px;
    position: absolute;
    height: 17px;
    background: transparent url(../img/li-dot.png) no-repeat;
    left: -25px;
    top: 0px;
}

.three-dots {
    position: relative;
    padding-left: 20px!important;
}

.three-dots::after{
    display: block;
    content: "";
    width: 16px;
    position: absolute;
    height: 37px;
    background: transparent url(../img/dots-img.png) no-repeat;
    left: 0px;
    top: -9px;
}

.dots-row {
    padding: 35px 0px;
}

.light-blue-bg-section.extra-pd {
    padding: 4% 0px;
}

.profile-btn-div {
    margin-bottom: 25px;
}

/* .show-userLogin-dropdown:hover .login-popup, .login-popup:hover {
    display:block!important;
}

.show-userRegister-dropdown:hover .login-popup, .login-popup:hover {
    display:block!important;
} */

.login-popup {
    position: absolute;
    top: 34px;
    right: 0px;
    background: white;
    min-width: 235px;
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 0px #575757;
    z-index: 999;
}

.booking-popup {
    position: absolute;
    top: 34px;
    right: 0px;
    background: white;
    min-width: 235px;
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 0px #575757;
    z-index: 999;
}

.booking-popup:after {
    content: "\A";
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent black transparent transparent;
    position: absolute;
    top: -12px;
    right: 17px;
    transform: rotate(90deg);
}

.login-popup.register {
    min-width: 290px;
}

.login-popup:after {
    content: "\A";
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent black transparent transparent;
    position: absolute;
    top: -12px;
    right: 17px;
    transform: rotate(90deg);
}

.show-userLogin-dropdown ,.show-userRegister-dropdown {
    padding-bottom: 21px!important;
}

.popup-form .site-label {
    font-size: 13px;
    text-align: left;
}

.popup-form .site-input, .popup-form select.site-input {
    padding: 8px 8px 8px 8px;
    font-size: 13px!important;
}

.popup-form .site-btn.red {
    width: 100%;
    padding: 8px 0px;
}

.login-popup .forgot-link {
    font-size: 13px;
    margin-top: 8px!important;
    text-transform: capitalize;
}

.or-text {
    text-align: center;
    position: relative;
    color:black;
    margin-top: 16px;
}

.or-text::before {
    content: "";
    background: #bebebe;
    width: 70px;
    height: 1px;
    right: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    display: block;
}

.or-text::after {
    content: "";
    background: #bebebe;
    width: 70px;
    height: 1px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    display: block;
}

.social-login {
    color: white;
    cursor: pointer;
    background: red;
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 100%;
}

.fa-facebook-f.social-login {
    background: #4267B2;
}

.fa-google-plus-g.social-login{
    background: #db4a39;
}

.login-popup .icon.phone.site-input {
    height: 37px;
    padding: 10px 22px 10px 10px;
}

.login-popup label.bordered {
    font-size: 11px;
}

.login-popup .input-right-icon {
    right: 10px;
}

input[type=number] {
    -moz-appearance:textfield;
}

a#notificationMenuLink {
    position: relative;
    top: 3px;
}

.popup-cross {
    position: absolute;
    right: 16px;
    top: 7px;
    font-size: 17px;
    cursor: pointer;
}

.header-row.white .main-nav-link.profile-dropdown-link {
    color: white!important;
}

.header-row.white a#dropdownMenuLink {
    color: white!important;
}

.login-popup.notification {
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 287px;
}

.login-popup.notification:after{
    right: 49%;
}

.site-ul.fare-detail-ul {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 9px #c4c4c4;
}

.card-body .site-ul.fare-detail-ul{
    margin-bottom: 20px;
}

.card-body .site-ul.fare-detail-ul:last-child{
    margin-bottom: 0px;
}

.site-ul.fare-detail-ul li {
    flex: 1;
    text-align: center;
}


.maain-tabble table {
    width: 100%;
    border-spacing: 0 26px;
    vertical-align: middle;
    border: 0;
    border-collapse: separate;
}

.maain-tabble tbody tr {
    background-color: transparent !important;
    box-shadow: 1px 1px 9px #c4c4c4;
    border: 0!important;
    border-radius: 8px;
}

table.table-bordered.dataTable tbody td {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    text-align: center !important;
    vertical-align: middle;
    border: 0;
    padding: 25px 15px;
    font-size: 14px;
}

.table-bordered.zero-configuration.fare-details > thead{
    display: none;
}

.table-responsive.fare-details > .maain-tabble > .dataTables_wrapper.container-fluid > div.row:first-child{
    display: none;
}

.table-responsive.fare-details > .maain-tabble > .dataTables_wrapper.container-fluid > div.row:last-child{
    display: none;
}

.black-text.down {
    margin-left: 23px;
}

.airline-img.china {
    width: 115px;
    margin: 25px 0px;
}

.booking-first-div {
    padding-left: 22px;
}

.booking-second-div {
    padding-left: 60px;
}

.booking-third-div {
    padding-left: 60px;
}

.booking-last-div {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}

.nav-tabs.result-tabs .nav-link {
    border-radius: 0;
    border: 0;
    font-family: popmed;
    color: #666666;
    background: #aaaaaa;
    font-size: 14px;
}

.nav-tabs.result-tabs .nav-link.active {
    background: white;
    color: black;
}

.nav-tabs.result-tabs .nav-item:not(:first-child) {
    margin-left: 1px;

}
.nav-tabs.result-tabs .nav-item{
    margin-bottom: 0;
}

.nav-tabs.result-tabs{
    border:0
}

.nav-tabs.result-tabs.multi .nav-link {
    padding: 5px 7px;
    font-size: 14px;
}

.trash-icon {
    color: #9f9f9f;
    cursor: pointer;
}

.plane.return {
    transform: scaleX(-1);
    padding-left: 16px;
}

/* .site-input.placeholder-red::placeholder{
    color:red!important;
} */

.d-sm-flex.align-items-center > .flex-div {
    flex: 1;
}

.grey-row {
    background: #e1e1e1;
    padding: 20px 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.grey-row p {
    color: #616161!important;
}

.booking-confirmation-div > .information {
    background: white;
    border-radius: 7px;
    margin-top: -4px;
    padding: 20px;
    box-shadow: 0px -1px 8px #cacaca;
}


.booking-confirmation-div {
    margin: 10px 0px;
}

.site-ul.flight-summary-ul li.red:after{
    display: block;
    content: "";
    width: 16px;
    position: absolute;
    height: 17px;
    background: transparent url(../img/red-dot.png) no-repeat;
    left: -25px;
    top: 0px;
}

.flight-flag.booking {
    padding: 23px 0px;
}

.grey-bg {
    background: #ededed;
    padding: 10px 15px;
    margin: 6px 0px 0px 0px;
    width: 100%;
}

.summary-left.booking {
    height: 100%;
    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
}

.summary-left.booking > .time {
    margin-bottom: 91px;
}

.space-nowrap{
    white-space: nowrap;
}

.summary-left.booking > .time:last-child {
    margin-bottom: 0;
}

.separate-div {
    background: white;
    padding: 8px 20px;
    margin-bottom: 20px;
}

.sup-text {
    color: #5b5b5b;
    margin-left: 5px;
    font-size: 12px;
}

.white-card {
    padding: 10px;
    box-shadow: 1px 1px 7px #c4c4c4;
}

.pre{
    white-space: pre;
}

.add-flight-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
}

.package-popup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 51px;
    background: white;
    min-width: 202px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 0px #575757;
    z-index: 999;
}

.package-popup:after {
    content: "\A";
    border-style: solid;
    border-width: 11px 12px 11px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    top: -5px;
    right: 50%;
    transform: rotate(90deg) translateX(-50%);
}

.three-aeroplane-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plane-arrow {
    color: blue!important;
    font-size: 20px;
    transition: 0.4s ease-in-out;
}

.plane-arrow.collapsed {
    transform: rotate(270deg);
}

.site-ul.multiway-ul.three-plane {
    width: 534px;
}

.upper-row {
    padding: 25px 0px;
}

.graph::after {
    display: block;
    content: "";
    width: 100%;
    top: -10px;
    position: absolute;
    height: 100%;
    background: url(./../img/range-slider-img.png) no-repeat;
    background-position: center;
}

.card-body.contact-body {
    width: 60%;
    margin: 0 auto;
}

.contact-select-div {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 0px;
    margin: 10px 0px;
}

/* .daterangepicker.ltr.show-calendar.opensleft {
    right: 690.4px!important;
} */
/* .daterangepicker {
    transform: translateX(250px)!important;
} */

.daterangepicker.opensleft:before, .daterangepicker.opensleft:after{
    display: none;
}

.nav-tabs.matrix-tabs {
    justify-content: flex-end;
    border-bottom: 0;
}

.nav-tabs.matrix-tabs .nav-link {
    background: white;
    color: black;
    font-size: 14px;
    border-radius: 0;
    border: 2px solid black;
}

.nav-tabs.matrix-tabs .nav-link.active {
    background:black;
    color:white;
}

.tab-content.matrix-content {
    border: 3px solid black;
    margin-bottom: 20px;
}

.stops__table td, .stops__table th {
    border-bottom: 1px solid #000;
    font-size: 14px;
}

.stops__table td {
    padding: 5px 12px;
    text-align: left;
    padding-left: 11px;
}

.stops__table th {
    text-align: right;
}

.data__table {
    width: 100%;
}

.table-column_label, .table-row_label {
    padding: 7px 10px;
    height: 37px;
}

.table__column_label, .table__row_label {
    text-transform: uppercase;
    position: relative;
    background-color: #000;
    color: #fff;
    margin: 1px;
}

.table__column_label:after, .table__row_label:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
}

.table__row_label:after {
    top: 100%;
    left: 50%;
    border-left: 5px solid transparent;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    margin-left: -5px;
}

.table__column_label:after {
    left: 100%;
    top: 50%;
    border-top: 5px solid transparent;
    border-left: 5px solid #000;
    border-bottom: 5px solid transparent;
    margin-top: -5px;
}

.stops__table tbody {
    background: white;
}

.main-table-div {
    display: flex;
}

.data__table table {
    min-width: 100%;
    background-color: #fff;
}

.data__table th, .stops__table th{
    height: 40px;
}

.data__table td, .data__table th {
    min-width: 60px;
    font-size:14px;
    text-align: center;
    padding: 5px 12px;
    border-bottom: 1px solid #000;
}

.select2-selection {
    border-radius: 0px!important;
    border: 0!important;
}

.select2-selection:focus {
    outline:0!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%!important;
    transform: translateY(-50%);
    font-size: 37px;
}

/* span.select2.select2-container.select2-container--default.select2-container--above.select2-container--focus{
    height: 40px !important;
} */

span.select2.select2-container.select2-container--default.select2-container--above {
    width: 192px;
    font-size: 14px;
}

span.select2-selection.select2-selection--single{
    height: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 40px!important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #dfe3e8;
    color: white;
}

.cm-departure-date {
    padding-left: 35px;
}

.flight-dest-time {
    width: 290px;
}

.ticket-endpart {
    width: 80px;
    flex-direction: column;
}

/* -------------- FOOTER CSS START -------------- */

.site-footer {
    background: black;
    padding: 60px 0px 30px 0px;
}

.footer-ul li {
    display: inline-block;
    width: 24%;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 14px;
}

.footer-social-link {
    background: white;
    color: black;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
}

.copyright-div {
    border-top: 1px solid #a7a7a7;
    padding: 20px 0px 0px 0px;
    margin: 20px 0px 0px 0px;
}

.copyright-div p{
    font-size: 15px;
}

.footer-ul {
    margin-bottom: 20px;
}

/* -------------- FOOTER CSS END -------------- */
