<template>

</template>

<script>
import { queryParamsToObj } from '../helpers'
export default {
    data() {
        return {

        }
    },
    mounted(){
        console.log(queryParamsToObj());
    },
    methods: {

    }
}
</script>
