<template>
    <ul class="site-ul ul-flex-center filter-category-ul">
        <li v-for="col in columns" :key="col.key" @click="sortingChange(col)">
            <div class="filter-category-single">
                <p class="site-text text-uppercase">{{ col.name }}</p>
                <i class="fa sort-icon" :class="{
                    'fa-sort': sortedKey !== col.key,
                    'fa-sort-up': sortedKey === col.key && sortedDirection === 'asc',
                    'fa-sort-down': sortedKey === col.key && sortedDirection === 'desc',
                }" aria-hidden="true"></i>
            </div>
        </li>
    </ul>
</template>

<script>
export default {
    data() {
        return {
            columns: [
                { key: 'airlines', name: 'airlines', direction: 'asc'},
                { key: 'departure', name: 'departure', direction: 'asc'},
                { key: 'stops', name: 'stops', direction: 'asc'},
                { key: 'arrival', name: 'arrival', direction: 'arrival'},
                { key: 'price', name: 'price', direction: 'price'},
                { key: 'duration', name: 'duration', direction: 'duration'},
            ],
            sortedKey: "price",
            sortedDirection: "asc",
        }
    },
    methods: {
        sortingChange(col){

            const colInx = this.columns.findIndex(c => c.key === col.key);

            this.columns[colInx].direction = col.direction === 'asc'? 'desc': 'asc'
            this.sortedDirection = this.columns[colInx].direction;
            this.sortedKey = col.key;
            this.$emit('onsort', col);
        }
    },
}
</script>
